@using System.Web

<body>

    <div>
        <form action="/api/Account/Authenticate" method="post" id="AuthForm">
            <div>
                <div>
                    <label for="login">Login</label><br />
                    <input type="text" name="login" id="login" />
                </div>
                <div>
                    <label for="password">Password</label><br />
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <button type="submit" id="submitLogin">Log in</button>
                    <a href="/api/Account/Registration" class="button-link">Registration</a>
                </div>
            </div>
        </form>
    </div>

    <script src="~/js/LoginScript.js"></script>

</body>
<script src="~/js/LoginScript.js"></script>
<link rel="stylesheet" href="~/css/auth.css">
