@using System.Web
@model UserVm

<h2>Edit user</h2>
<form asp-action="UpdateUser" asp-controller="User">
    <div>
        <input asp-for="Id" hidden="hidden" />
        <div>
            <label asp-for="RoleId"></label>
            <select asp-for="RoleId" asp-items="ViewBag.Roles" onselect="@Model.Role">
            </select>
        </div>
        <div>
            <label asp-for="Name">Name</label><br />
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Email">Email</label><br />
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Login">Login</label><br />
            <input asp-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Password</label><br />
            <input asp-for="Password" />
        </div>
        <div>
            <button type="submit">Edit</button>
        </div>
    </div>
</form>
