@using System.Web
@model CarDto


<h2>Create car</h2>
<form asp-action="CreateCar" asp-controller="Car" method="post">
    <div>
        <div>
            <label asp-for="BrandId"></label>
            <select asp-for="BrandId" asp-items="ViewBag.Brands"></select>
        </div>
        <div>
            <label asp-for="ColorId"></label>
            <select asp-for="ColorId" asp-items="ViewBag.Colors"></select>
        </div>
        <div>
            <label asp-for="Price">Price</label><br />
            <input  asp-for="Price" />
        </div>
        <div>
            <label asp-for="YearRelese">Year of release</label><br />
            <input  asp-for="YearRelese" />
        </div>
        <div>
            <label asp-for="ShorDescription">Short discription</label><br />
            <input  asp-for="ShorDescription" />
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </div>
</form>
